    <!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>2026 IONCamp Day 5</title>
        <link type="text/css" rel="stylesheet" href="libs/style/bootstrap.min.css">
        <link type="text/css" rel="stylesheet" href="libs/style/sticky-footer.css">
        <!-- 改動 css/main.css, hiho-resolver.js, js/main.js 後務必同步 bump ?v=,
             否則 Cloudflare 會沿用邊緣快取(預設 4 小時)繼續送舊檔 -->
        <link type="text/css" rel="stylesheet" href="css/main.css?v=28">
    </head>
    <body class="app">
        <!-- 置頂標題列。刻意不用 bootstrap 的 .navbar: 那套灰底/置中 container
             和榜單的白列面、髮絲線、28px 左內距不是同一個系統。 -->
        <nav class="topbar">
            <div class="topbar-title">2026 IONCamp Day 5</div>
        </nav>

        <!-- page content -->
        <div class="rank-list">
            <div id="rank-{{$index}}" class="rank-list-item clearfix" v-for="team in ranks" track-by="user_id">
                <div class="rank">{{ team.rank_show }}</div>
                <div class="content">
                    <div class="name">{{ users[team.user_id].college ? users[team.user_id].college + '--' : '' }}{{ users[team.user_id].name }}</div>
                    <ul class="problems">
                        <li v-for="n in p_count" class="p-{{n+1}} item">
                            <div class="{{team.problem[n+1]|problemStatus}} {{team.problem[n+1]|scoreLevel}} p-content">{{team.problem[n+1] | submissions}}</div>
                        </li>
                    </ul>
                </div>
                <div class="solved {{team.score|totalLevel}}">{{ team.score }}</div>
            </div>
        </div>

        <!-- 頒獎投影片: 該隊升到最終名次後全螢幕蓋掉排行榜, 按右鍵/空白鍵關閉。
             照片 + 隊名 + 獎名的版面由 CSS 排出, 照片只是內容, 缺圖時顯示佔位。 -->
        <div class="slide-overlay" v-if="slide">
            <div class="slide-card">
                <div class="slide-photo">
                    <img v-if="slide.image_url && !slide_failed" src="{{ slide.image_url }}" @error="slideFailed">
                    <div class="slide-photo-placeholder" v-if="!slide.image_url || slide_failed"></div>
                </div>
                <div class="slide-meta">
                    <div class="slide-team">Team: {{ slide.team_name }}</div>
                    <div class="slide-award">{{ slide.citation }}</div>
                </div>
            </div>
        </div>

        <!-- sticky footer -->
        <footer class="footer">
            <div class="container clearfix">
                <p class="text-muted pull-left"><button @click="reset">Reset standings</button></p>
            </div>
        </footer>

        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script type="text/javascript" src="libs/js/jquery.min.js"></script>
        <script type="text/javascript" src="libs/js/vue.1.js"></script>
        <script type="text/javascript" src="hiho-resolver.js?v=28"></script>
        <script type="text/javascript" src="js/main.js?v=28"></script>
    </body>
</html>
