    <!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>2026 IONCamp Day 5</title>
        <link type="text/css" rel="stylesheet" href="libs/style/bootstrap.min.css">
        <link type="text/css" rel="stylesheet" href="libs/style/sticky-footer.css">
        <!-- 改動 css/main.css, hiho-resolver.js, js/main.js 後務必同步 bump ?v=,
             否則 Cloudflare 會沿用邊緣快取(預設 4 小時)繼續送舊檔 -->
        <link type="text/css" rel="stylesheet" href="css/main.css?v=12">
    </head>
    <body class="app">
        <!-- top navbar -->
        <nav class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">2020 IONCAMP World Final (Div. 2)</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse" aria-expanded="false" style="height: 1px;">
                </div><!--/.nav-collapse -->
            </div>
        </nav>

        <!-- page content -->
        <div class="rank-list">
            <div id="rank-{{$index}}" class="rank-list-item clearfix" v-for="team in ranks" track-by="user_id">
                <div class="rank">{{ team.rank_show }}</div>
                <div class="content">
                    <div class="name">{{ users[team.user_id].college ? users[team.user_id].college + '--' : '' }}{{ users[team.user_id].name }}</div>
                    <ul class="problems">
                        <li v-for="n in p_count" class="{{team.problem[n+1]|problemStatus}} p-{{n+1}} item">
                            <div class="{{team.problem[n+1]|problemStatus}} p-content">{{team.problem[n+1] | submissions}}</div>
                        </li>
                    </ul>
                </div>
                <div class="solved">{{ team.score }}</div>
            </div>
        </div>

        <!-- 頒獎投影片: 該隊升到最終名次後全螢幕蓋掉排行榜, 按右鍵/空白鍵關閉 -->
        <div class="slide-overlay" v-if="slide">
            <img class="slide-image" v-if="slide.image_url && !slide_failed" src="{{ slide.image_url }}" @error="slideFailed">
            <div class="slide-citation">{{ slide.citation }}</div>
        </div>

        <!-- sticky footer -->
        <footer class="footer">
            <div class="container clearfix">
                <p class="text-muted pull-left"><button @click="reset">Reset standings</button></p>
            </div>
        </footer>

        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script type="text/javascript" src="libs/js/jquery.min.js"></script>
        <script type="text/javascript" src="libs/js/vue.1.js"></script>
        <script type="text/javascript" src="hiho-resolver.js?v=12"></script>
        <script type="text/javascript" src="js/main.js?v=12"></script>
    </body>
</html>
